<div class="row">
  <div class="small-12 medium-12 columns">
    <div id="main-content-box">
      <div id="header-box">
        <h4 id="global-header">Global</h4>
      </div>
      <a href="#" id="status-total-test-box">
        <div class="status">
          34,683
        </div>
        <div class="status-subtext">
          Total Test
        </div>
      </a>

      <a href="#" id="status-failed-test-box">
        <div class="status">
          7,028
        </div>
        <div class="status-subtext">
          Failed Test
        </div>
      </a>

      <a href="#" id="status-pass-test-box">
        <div class="status">
          27,653
        </div>
        <div class="status-subtext">
          Pass Test
        </div>
      </a>

      <a href="#" id="status-last-poll-box">
        <div class="status">
          18:25:52
        </div>
        <div class="status-subtext">
          Last Poll
        </div>
      </a>
    </div>
  </div>
</div>
