<div class="row">
  <div class="small-12 medium-12 columns">
    <div id="main-content-box">
      <div id="header-box">
        <h4 id="global-header">Global</h4>
      </div>
      <div id="side-nav-container">
        <div class="text-center hide-for-small-only" id="side-nav-box">
          <ul class="side-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Global Dashboard</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">User Profile</a></li>
          </ul>
        </div>
      </div>
      <div id="status-box-container">
        <ul class="small-block-grid-2 medium-block-grid-4" data-options="block_width:200">


          <li>
            <a href="#" id="status-total-test-box">
              <div class="status">
                34,683
              </div>
              <div class="status-subtext">
                Total Test
              </div>
            </a>
          </li>
          <li>
            <a href="#" id="status-failed-test-box">
              <div class="status">
                7,028
              </div>
              <div class="status-subtext">
                Failed Test
              </div>
            </a>
          </li>

          <li>
            <a href="#" id="status-pass-test-box">
              <div class="status">
                27,653
              </div>
              <div class="status-subtext">
                Pass Test
              </div>
            </a>
          </li>

          <li>
            <a href="#" id="status-last-poll-box">
              <div class="status">
                18:25:52
              </div>
              <div class="status-subtext">
                Last Poll
              </div>
            </a>
          </li>
        </ul> <!-- End Block Grid -->

        <div id="graph-container">
          <div class="row">
            <div class="small-12 medium-6 small-centered medium-uncentered columns">
              <div id="first-pass-yield-box">

              </div>
            </div>

            <div class="small-12 medium-6 small-centered medium-uncentered columns">
              <div id="pareto-box">

              </div>
            </div>
          </div> <!-- GRAPH ROW END -->
        </div> <!-- GRAPH CONTAINER END -->
      </div> <!-- STATUS CONTAINER END -->

    </div>
  </div>
</div>

<script type="text/javascript">
  /* BLOCK TARGET WIDTH FUNCTION - include the below into your javascript */
  ;(function ($, window, document, undefined) {
    'use strict';

    var blocks;
    var w;

    // Update the block-grid
    $.fn.updateBlockGrid = function(width) {
      w = (width === undefined) ? w : width;
      var l = $(this).find("li").length;
      if(blocks != null) $(this).removeClass('small-block-grid-' + blocks);
      blocks = Math.min(l, 12, Math.max(1, Math.round($(this).innerWidth()/(w))));
      $(this).addClass('small-block-grid-' + blocks);
    }

    // Read data-options, and set block grid based on target width
    var el = Foundation.utils.S("ul[data-options*='block_width']");
    if(el.length) {
      var s = Foundation.utils.data_options(el).block_width;
      if(s !== undefined){
        var w = (s.length === 0) ? 300 : parseInt(s);
        $(window).on('resize.block-grid', Foundation.utils.debounce(function(e){
          el.updateBlockGrid(w);
       }, 200, false));
        el.updateBlockGrid(w);
      }
    }

   }(jQuery, this, this.document));
</script>
