<div class="row">
  <div class="small-12 medium-12 columns">
    <div id="main-content-box">
      <div id="header-box">
        <h4 id="global-header">Global</h4>
      </div>


    </div>
  </div>
</div>
