#sign-in-btn {
  padding-right: 2px;
}

#sign-up-btn {
  padding-right: 4px;
  padding-left: 2px;
}

#sign-out-btn {
  padding-right: 2px;
}

#edit-info-btn {
  padding-right: 4px;
  padding-left: 2px;
}
