#status-box-container {
  margin-left: 15px;
  margin-top: 17px;
  position: absolute;
  display: inline-block;
}

#side-nav-container {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

#graph-container {
  display: inline;
}

#revenue-container {
  margin-bottom: 30px;
}
