#status-icon {
  font-size: 90px;
  color: rgba(255, 255, 255, .2);
  display: inline-block;
  position: relative;
  top: 5px;
  left: -17px;
}

#fail-icon {
  font-size: 90px;
  color: rgba(255, 255, 255, .2);
  display: inline-block;
  position: relative;
  top: 5px;
  left: -17px;
}


#pass-icon {
  font-size: 90px;
  color: rgba(255, 255, 255, .2);
  display: inline-block;
  position: relative;
  top: 5px;
  left: -17px;
}


#poll-icon {
  font-size: 90px;
  color: rgba(255, 255, 255, .2);
  display: inline-block;
  position: relative;
  top: 5px;
  left: -17px;
}
