.top-bar{
  height:100vh;
  width:150px;
  position: relative;
  right: 20px;
}

.content {
  position: relative;
  right: 50px;
}

.right {
  list-style: none;
}

ul.right > li{
 display:block;
 float:none;
 border-bottom:1px solid #444;
}

ul.right > li:last-child{
 border-bottom:none;
}
.has-dropdown ul.dropdown{
 position:absolute !important;
 left:100% !important;
 top:0px;
 border-left:1px solid #444;
}
.top-bar-section .has-dropdown > a:after {
 top:45%;
 border-left:4px solid #aaa;
 border-top:4px solid transparent;
 border-bottom:4px solid transparent;
}
